In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karaton,ID,2022-05-07 14:30:14,-6.3424,106.1045,75.22,92,99,3.33
1,1,Subtanjalla,PE,2022-05-07 14:30:14,-14.0189,-75.7581,71.08,65,28,4.61
2,2,Estelle,US,2022-05-07 14:30:15,29.8458,-90.1067,80.01,68,20,3.44
3,3,Temozon,MX,2022-05-07 14:30:15,20.8000,-88.2167,82.49,52,76,5.79
4,4,Butaritari,KI,2022-05-07 14:30:16,3.0707,172.7902,81.55,77,96,10.92

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])  
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karaton,ID,2022-05-07 14:30:14,-6.3424,106.1045,75.22,92,99,3.33
2,2,Estelle,US,2022-05-07 14:30:15,29.8458,-90.1067,80.01,68,20,3.44
3,3,Temozon,MX,2022-05-07 14:30:15,20.8000,-88.2167,82.49,52,76,5.79
4,4,Butaritari,KI,2022-05-07 14:30:16,3.0707,172.7902,81.55,77,96,10.92
14,14,Banda Aceh,ID,2022-05-07 14:30:20,5.5577,95.3222,79.43,83,99,15.82
16,16,Pyu,MM,2022-05-07 14:30:21,18.4833,96.4333,82.02,73,87,0.67
18,18,Avarua,CK,2022-05-07 14:30:22,-21.2078,-159.7750,75.25,94,20,2.30
19,19,Itoman,JP,2022-05-07 14:30:23,26.1247,127.6694,77.02,88,100,9.22
24,24,Lorengau,PG,2022-05-07 14:30:25,-2.0226,147.2712,82.51,82,92,13.11
28,28,Sarangani,PH,2022-05-07 14:30:27,5.4033,125.4636,83.03,80,88,20.69

In [16]:
# Determine DataFrame has any null values for any of the rows.
# method 2 preferred_cities_df.isnull().sum()
# method 3 preferred_cities_df.notnull().sum()

preferred_cities_df.count()

City_ID       190
City          190
Country       188
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [ ]:
# If you have some rows with null values, you'll need to drop them using the dropna() method 
# at the end of your filtering statement when you are creating the new DataFrame.

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Karaton      ID     75.22  -6.3424  106.1045
2      Estelle      US     80.01  29.8458  -90.1067
3      Temozon      MX     82.49  20.8000  -88.2167
4   Butaritari      KI     81.55   3.0707  172.7902
14  Banda Aceh      ID     79.43   5.5577   95.3222
16         Pyu      MM     82.02  18.4833   96.4333
18      Avarua      CK     75.25 -21.2078 -159.7750
19      Itoman      JP     77.02  26.1247  127.6694
24    Lorengau      PG     82.51  -2.0226  147.2712
28   Sarangani      PH     83.03   5.4033  125.4636

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Karaton,ID,75.22,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
2,Estelle,US,80.01,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans
3,Temozon,MX,82.49,20.8000,-88.2167,Hotel temozon
4,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
14,Banda Aceh,ID,79.43,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
16,Pyu,MM,82.02,18.4833,96.4333,Mr Bo Bo
18,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
19,Itoman,JP,77.02,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
24,Lorengau,PG,82.51,-2.0226,147.2712,Lorengau Harbourside Hotel
28,Sarangani,PH,83.03,5.4033,125.4636,Ballistic Islet

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))