## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,San Patricio,US,28.0170,-97.5169,92.12,51,42,19.46,scattered clouds
1,1,Comodoro Rivadavia,AR,-45.8667,-67.5000,51.66,71,0,5.75,clear sky
2,2,Mahebourg,MU,-20.4081,57.7000,76.24,94,40,3.44,scattered clouds
3,3,Salalah,OM,17.0151,54.0924,81.59,74,0,6.06,clear sky
4,4,Bambous Virieux,MU,-20.3428,57.7575,76.21,94,40,3.44,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                824
City                   824
Country                824
Lat                    824
Lng                    824
Max Temp               824
Humidity               824
Cloudiness             824
Wind Speed             824
Current Description    824
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,scattered clouds,-20.4081,57.7000,
3,Salalah,OM,81.59,clear sky,17.0151,54.0924,
4,Bambous Virieux,MU,76.21,light rain,-20.3428,57.7575,
5,Rikitea,PF,76.69,clear sky,-23.1203,-134.9692,
8,Ipameri,BR,72.86,scattered clouds,-17.7219,-48.1597,
10,Boa Vista,BR,89.58,broken clouds,2.8197,-60.6733,
16,Albany,US,75.69,clear sky,42.6001,-73.9662,
18,Jamestown,US,76.64,clear sky,42.0970,-79.2353,
19,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,
21,Hambantota,LK,81.28,overcast clouds,6.1241,81.1185,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Salalah,OM,81.59,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
4,Bambous Virieux,MU,76.21,light rain,-20.3428,57.7575,Casa Tia Villa
5,Rikitea,PF,76.69,clear sky,-23.1203,-134.9692,People ThankYou
8,Ipameri,BR,72.86,scattered clouds,-17.7219,-48.1597,Real Hotel
10,Boa Vista,BR,89.58,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
16,Albany,US,75.69,clear sky,42.6001,-73.9662,
18,Jamestown,US,76.64,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
19,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
21,Hambantota,LK,81.28,overcast clouds,6.1241,81.1185,Bungalow 63

In [11]:
# 7. Drop the rows where there is no Hotel Name.

named_hotel = hotel_df["Hotel Name"] != ""
clean_hotel_df= hotel_df[named_hotel]

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mahebourg,MU,76.24,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Salalah,OM,81.59,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
4,Bambous Virieux,MU,76.21,light rain,-20.3428,57.7575,Casa Tia Villa
5,Rikitea,PF,76.69,clear sky,-23.1203,-134.9692,People ThankYou
8,Ipameri,BR,72.86,scattered clouds,-17.7219,-48.1597,Real Hotel
10,Boa Vista,BR,89.58,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
18,Jamestown,US,76.64,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
19,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
21,Hambantota,LK,81.28,overcast clouds,6.1241,81.1185,Bungalow 63
23,Dayong,CN,70.84,moderate rain,25.0209,118.2898,Haiyue Express Hotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))